.Sidebar {
  flex: 1 0;
  background-color: #22272A;
}

.Sidebar_header {
  text-transform: uppercase;
  text-align: center;
  color: #F5FDFD;
}

.Sidebar_navlink {
  margin: 10px 0;
  display: block;
  padding: 10px 20px 10px 20px;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  border: 0 solid #22272A;
  border-left-width: 3px;
  background-color: #22272A;
  color: #F5FDFD;
}

.Sidebar_navlink.Sidebar_selected {
  color: #0CD19C;
  border-color: #0CD19C;
  background-color: #363A3D;
}